.lane {
	background-color: lightgrey;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	min-height: 400px;
	width: 200px;
}

.lane.hidden {
	opacity: 0.5;
}

.lane.dragging {
	outline: 5px solid lightblue;
}

.lane.dropping {
	outline: 5px dashed pink;
}

.title {
	height: 50px;
	padding: 10px;
	cursor: move;
}
